body{
    background-color: #23252c;
    color: white;
}

.rps img{
    width: 100px;
    height: 100px;
    border: 6px solid rgb(238, 225, 106);
    border-radius: 60%;
}
img:hover{
    cursor: pointer;
}
body{
    text-align: center;

}
.scoreboard{
    font-size: 3rem;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px 50px 0px;
}
div.scoreboard div{
    margin: 0px 60px;
}
.user-board{
    color: rgb(59, 224, 122);
}
.computer{
    color: rgb(0, 0, 255) ;
}
.user-board::after{
    content: "User Score";
    font-size: 1rem;
    position: absolute;
    border: 3px solid rgb(59, 224, 122);
    border-radius: 10%;
    padding: 2px;
}

.computer::after{
    content: "Computer Score";
    font-size: 1rem;
    position: absolute;
    border: 3px solid rgb(0, 0, 255);
    border-radius: 10%;
    padding: 2px;

}

.bcc{
    border: 8px solid rgb(59, 224, 122) !important ;
    width: 110px !important;
    height: 110px !important;
    transition: 0.5s ease;
}

.cmp{
    border: 8px solid rgb(0, 0, 255) !important ;
    width: 110px !important;
    height: 110px !important;
    transition: 0.5s ease;
}


.Winner-text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    margin: 20px;
    min-height: 100px;
    font-family: 'Ms Madi', cursive;
    font-family: 'Nunito Sans', sans-serif;
}

.user-text{
color: rgb(59, 224, 122);
}
.comp-text{
color : rgb(0, 0, 255);
}

#reset{
    color:rgb(255, 0, 0);
    background:transparent;
    padding: 8px 19px;
    font-size: 17px;
    border: 2.25px outset rgb(255, 0, 0);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10%;
    font-weight: 500;
}
#reset:hover{
    background-image:linear-gradient(to left , rgb(27, 27, 246),rgb(230, 98, 38));
    transition: 0.7s;
    border-color:white ;
    color: white ;
}
.tie{
    border: 8px solid rgb(255, 0, 0) !important;
    width: 110px !important;
    height: 110px !important;
    transition: 0.5s ease;
}
